*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    text-align: left;
}
body{
    border-color: brown;
    border-radius: 30px;
    text-align: left;
    align-items: flex-start;
}
#content{
    text-align: left;
    background-color: rgb(224, 195, 140)
}
#red{
    text-align: left;
    background-color: rgb(32, 8, 8); 
    color: rgb(245, 241, 241);
    border-radius: 10px;
    font-size: 30px;
    flex-wrap: wrap;
    display: inline;
    text-align: left;
    margin-left: 10px;
    cursor: pointer;
}
#head{
    font-size: 45px;
    font-style: initial;
}
#believe{
    font-size: 35px;
    text-align: center;
    justify-content: space-evenly;
}
#topic{
    font-size: 35px;
    text-align: center;
}
#black{
    text-align: center;
    background-color: green;
    color: white;
}
img{
    width: 250px;
    border-radius: 30px;
    height: 250px;
    margin: 10px;
    padding: 10px;
    float: left;
    background-color:  rgb(82, 27, 5);
}
p,h6{
    text-align: left;

}
#para{
font-size: 25px;

}
#top{
    text-align: left;
    font-size: 20px;
    display: inline;
}
#bio{
    font-size: 20px;
    align-items: flex-end;
    justify-content: space-evenly;
}
#score{
    text-align: left;
}
#file{
    text-align: left;
    height: 20px;
    width: 350px;
    flex-direction: row-reverse;
}
#h3{
    text-align: left;
}
#skill{
    text-align: right;
    height: 20px;
    width: 350px;
    flex-direction: row-reverse;
}
#a{
    justify-content: space-evenly;
}